@charset "utf-8";

:root {
  --banner-color: #D97373; /*default*/
  --mainhead: #D97373;
  --selection: #F2EBDC;
  --gentext: #D9D0C1;
  --credits: #888C89;

  --lpink: #FFD5C2;
  --h1outline: var(--mainhead);

  --textdark: #272822;
  --textlight: #f9f9f9;

  --arrow-height: 10vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  color: var(--textdark);
  line-height: 1.5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4em;
  margin: 0;
  font-weight: bold;
  line-height: 0.8em;

  text-shadow: -1px -1px 0 var(--h1outline), 1px -1px 0 var(--h1outline), -1px 1px 0 var(--h1outline), 1px 1px 0 var(--h1outline), 1px 0px 0px var(--lpink), 0px 1px 0px var(--lpink), 2px 1px 0px var(--lpink), 1px 2px 0px var(--lpink), 3px 2px 0px var(--lpink), 2px 3px 0px var(--lpink), 4px 3px 0px var(--lpink), 3px 4px 0px var(--lpink), 5px 4px 0px var(--lpink), 3px 5px 0px var(--h1outline), 6px 5px 0px var(--h1outline), -1px 2px 0 var(--h1outline), 0 3px 0 var(--h1outline), 1px 4px 0 var(--h1outline), 2px 5px 0px var(--h1outline), 2px -1px 0 var(--h1outline), 3px 0 0 var(--h1outline), 4px 1px 0 var(--h1outline), 5px 2px 0px var(--h1outline), 6px 3px 0 var(--h1outline), 7px 4px 0 var(--h1outline);
}

h2 {
  color: white;
  font-size: 2em;
  line-height: 1.15em;
}

a {
  color:  var(--lpink);
}

.container {
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 90%;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 900px;
  }
}

.btn {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1em;
  cursor: pointer;
  padding: 15px 50px;
  display: inline-block;
  margin: 2em auto 0;
  position: relative;
  background: hsl(0,57%,65%);
  color: #fff;
  border: none;
  box-shadow: 0 6px hsl(0,57%,55%);
  border-radius: 40px;
}

.btn:hover {
  box-shadow: 0 4px hsl(0,57%,55%);
  top: 2px;
}

/* Banner Component */
.banner {
  background-color: var(--banner-color);
  display: block;
  height: auto;
  min-height: 20vh;
  position: relative;
  background: transparent;
  z-index: 0;
  padding-top: calc(var(--arrow-height) + 1em);
  text-align: center;
  margin-top: calc(var(--arrow-height) * -1);
  width: 100vw;
}
.banner::before, .banner::after {
  content: '';
  display: block;
  height: var(--arrow-height);
  border-style: solid;
  background-color: transparent;
  z-index: 5;
}

.banner::after {
  border-color: transparent var(--banner-color) transparent transparent;
  border-width: var(--arrow-height) 100vw 0 0;
  position: absolute;
  top: 1em;
}

.banner::before {
  border-color: transparent transparent var(--banner-color) transparent;
  border-width: 0 100vw var(--arrow-height) 0;
  height: var(--arrow-height);
  margin-top: calc(var(--arrow-height) * -1);
  position: relative;
  z-index: 5;
}

.banner--inner {
  background-color: var(--banner-color);
  padding-bottom: calc(var(--arrow-height) + 1em);
}
  
.mainhead {
  --banner-color: var(--mainhead);
  color: var(--textdark);
}

.selection {
  --banner-color: var(--selection);
  color: var(--textdark);
}

.gentext {
  --banner-color: var(--gentext);
  color: var(--textdark);
}

.credits {
  --banner-color: var(--credits);
  color: var(--textlight);
}
